# required for rllab
git+https://github.com/Lasagne/Lasagne.git@359ea1b9f12678c3523c0cb100f646528d49df9e
# XXX: this requires --process-dependency-links when `pip install`-ing so that
# Lasagne downloads correctly. Hopefully sticking Git Lasagne at the top of this
# file will work :)
git+https://github.com/qxcv/rllab.git
# my mdpsim bindings
git+https://gitlab.cecs.anu.edu.au/u5568237/mdpsim.git
# my ssipp bindings
git+https://gitlab.com/qxcv/ssipp.git

hyperopt>=0.1,<0.2
rpyc>=3.4.4,<3.5
tqdm>=4.14.0,<5.0
